body{
    background-color:#20262E;
   

}

* {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  header#header {
    background: #1e1f26;
    height: 65px;
  }
  header#header > h1 {
    padding: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sens-serif;
  }
  body{
    overflow: hidden;
  }

img {
    scale: 15%;
}

.img1 {
    position: absolute;
    left: -10%;
    top: 65%;
}

.img2 {
    position: absolute;
    left: 45%;
    top: -5%;
}

.img3 {
    position: absolute;
    left: 40%;
    top:40%;
}

.img4 {
    position: absolute;
    left: 5%;
    top:50%;
}

.img5 {
    position: absolute;
    left: 24%;
    top: 50%
}

.img6 {
    position: absolute;
    left: 53%;
    top: 56%;
}

.img7 {
    position: absolute;
    left: 3%;
    top: 22%;
}

.img8 {
    position: absolute;
    left: -30%;
    top: 23%;
}

.img9 {
    position: absolute;
    left: -10%;
    top: 21%;
}

.img10 {
    position: absolute;
    left: 10%;
    top: 5%;
}

.img11 {
    position: absolute;
    left: 34%;
    top: 62%;
}

.img12 {
    position: absolute;
    left: -19%;
    top: 10%
}